body{
    margin: 0px;
    padding: 0px;
    background-color: #F4F4F4;
}

.head{
    height: 430px;
    background-image: url('/background\ image.webp');
}

.head h1{
    text-align: center;
    padding-top: 170px;
    margin-top: 0px;
    font-size: 100px;
    font-family: 'Prompt', sans-serif;
    color: #FFBF00;
    text-shadow: 15px 0px 10px black;
}

.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options{
    width: 400px;
    height: 50px;
    background-color: #FFFFFF;
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #353535;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.2s;
}

.options a{
    text-decoration: none;
    color: #353535;
}

.options:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}


@media only screen and (max-width: 480px) {

    .main-1-heading{
        width: 530px;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }

    .result-display{
        margin-left: 85px;
    }
}